.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  display: flex;
}

.column {
  flex: 1;
  margin: 10px;
  padding: 10px 15px;
}

.column>h1 {
  font-family: 'Segoe UI Light';
  margin-top: 0px;
}

#conversation-pane {
  background-color: #9aa641;
}

#conversation-pane #messages p {
  padding: 5px;
  vertical-align: middle;
}

#conversation-pane #messages p.bot {
  margin-right: 50px;
  background-color: rgba(255, 255, 255, 0.5);
}

#conversation-pane #messages p.human {
  margin-left: 50px;
  background-color: rgba(255, 255, 255, 0.2);
}

#inbox-pane {
  background-color: #6aa0a5;
}

#inbox-pane>table {
  text-align: left;
}

#inbox-pane>div {
  background-color: rgba(255, 255, 255, 0.5);
  list-style: none;
  padding: 10px 20px;
}

#stores-pane {
  background-color: #c4925d;
}

#stores-pane>ul {
  padding-left: 0px;
  list-style: none;
}

#stores-pane>li {
  display: inline;
}

#stores-pane .store {
  background-color: #f2dfa7;
  margin-bottom: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
  display: flex;
}

.store>.name {
  font-weight: bold;
  flex: 1;
  padding: 6px;
}

#stores-pane .store .orders {
  display: flex;
  font-weight: bold;
  font-size: 20pt;
  vertical-align: middle;
}

#stores-pane .store .orders>div {
  padding-right: 8px;
  display: flex;
  align-items: center;
}
